<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="sum" class="ru.ks.springcalculator.SumProcessor">
    </bean>

    <bean id="divide" class="ru.ks.springcalculator.DivideProcessor">
    </bean>

    <bean id="multiply" class="ru.ks.springcalculator.MultiplyProcessor">
    </bean>

    <bean id="subtract" class="ru.ks.springcalculator.SubtractProcessor">
    </bean>

</beans>